.header {
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  gap: 8px;
}

.input {
  width: 250px;
  padding: 8px;
  border: 2px solid gray;
  border-radius: 5px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
